[submodule "backward_compatibility"]
	path = backward_compatibility
	url = https://github.com/PrestaShop/PrestaShop-backward_compatibility.git
[submodule "libs/tiresias/php-sdk"]
	path = libs/tiresias/php-sdk
	url = https://github.com/Tiresias/php-sdk.git
